.page-id-33 {

  .standards-intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 20px; 

    width: 80%;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    line-height: 2.5;
    padding: 0.1rem 0.5rem;
    letter-spacing: 0.5px;
    border: 5px solid #800000;
    width: 100%;
    text-align: center;
    outline: none;
    text-decoration: none;
  }

  .standards-intro-section p {
    letter-spacing: 0.5px;
    margin: 0;
  }

  .standards-intro-section p:first-child,
  .standards-intro-section p:last-child {
    margin-bottom: 0;
  }

  .standards-page-btn {
    background-color: #600000;
    padding: 0.7rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
  }

  /*  styling for screens (max-width: 320px) */
  @media screen and (max-width: 320px) { 
    .standards-intro-section {
      font-size: 0.75rem;
      padding: 10px;
      width: 90%;
    } 
  }

  /*  styling for screens (min-width: 321px) and (max-width: 360px) */
  @media screen and (min-width: 321px) and (max-width: 360px) {
    .standards-intro-section {
      font-size: 0.875rem;
      padding: 15px;
      width: 90%;
    } 
  }

  /*  styling for screens (min-width: 361px) and (max-width: 480px) */
  @media screen and (min-width: 361px) and (max-width: 480px) {
    .standards-intro-section {
      font-size: 1rem;
      padding: 20px;
      width: 85%;
    } 
  }

  /*  styling for screens (min-width: 481px) and (max-width: 640px) */
  @media screen and (min-width: 481px) and (max-width: 640px) {
    .standards-intro-section {
      font-size: 1.125rem;
      padding: 25px;
      width: 85%;
    } 
  }

  /* styling for screens 641px to 960px */
  @media screen and (min-width: 641px) and (max-width: 960px) {
    .standards-intro-section {
      padding: 30px;
      width: 80%;
    }
  }

  /* styling for screens 961px to 1008px */
  @media screen and (min-width: 961px) and (max-width: 1008px) {
    .standards-intro-section {
      padding: 35px;
      width: 80%;
    }
  }

  /* styling for screens larger than 1009px */
  @media screen and (min-width: 1009px) {
    .standards-intro-section {
      font-size: 1.3rem;
      padding: 40px;
      width: 80%;
    }
  } 


  
  
  
  
  
  
  
  
  
  // <section class="standards-conclusion-section">
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;  
    margin-bottom: 20px;  

    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
  }

  section h2 {
    color: #800000;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }

  section h3 {
    color: #800000;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }

  section p {
    color: black;
    margin-bottom: 10px;
  }


  /*  styling for screens (max-width: 320px) */
  @media screen and (max-width: 320px) { 
    section {
      font-size: 0.75rem;
      padding: 10px;
    }
  }

  /*  styling for screens (min-width: 321px) and (max-width: 360px) */
  @media screen and (min-width: 321px) and (max-width: 360px) {
    section {
      font-size: 0.875rem;
      padding: 15px;
    }
  }

  /*  styling for screens (min-width: 361px) and (max-width: 480px) */
  @media screen and (min-width: 361px) and (max-width: 480px) {
    section {
      font-size: 1rem;
      padding: 20px;
    }
  }

  /*  styling for screens (min-width: 481px) and (max-width: 640px) */
  @media screen and (min-width: 481px) and (max-width: 640px) {
    section {
      font-size: 1.125rem;
      padding: 25px;
    }
  }

  /* styling for screens 641px to 960px */
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section {
      padding: 30px;
    }
  }

  /* styling for screens 961px to 1008px */
  @media screen and (min-width: 961px) and (max-width: 1008px) {
    section {
      padding: 35px;
    }
  }

  /* styling for screens larger than 1009px */
  @media screen and (min-width: 1009px) {
    section {
      padding: 40px;
      font-size: 1.125rem;
    }
  }

  
  
}















