.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-17 {
	.entry-content {
		max-width: 250px;
		margin: 0 auto;
	}
}

.page-id-3 {
	.entry-content {
		max-width: 600px;
		margin: 0 auto;
	}
}

.error404 {
	.page-content {
		max-width: 700px;
		margin: 3rem auto 5rem;
		text-align: center;
	}
	.btn-primary {
		margin: 2rem 1rem;
		background-color: #600000;
        padding: 0.8rem;
        border-radius: 0.5rem;
        color: #fff;
        text-decoration: none;
	}
}
