.woocommerce-product-gallery__wrapper {
	position: relative;
}

.topping-image-wrapper {
	max-width: 300px;
	position: absolute;
	z-index: 1;
}

.site-main {
	.woocommerce-breadcrumb {
		display: none;
	}
}