@import "./header";
@import "./footer";
@import "./main";

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	position: relative;
}
.site-main {
	width: 90%;
	left: 5%;
	border-left: solid 3px #600000; 
}