@import "./header";
@import "./footer";
@import "./main";

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	position: relative;
	overflow-x: hidden;
}
