button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $brand__color;
	border-radius: 25px;
	color: $color__background-body;
	background: $brand__color;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
.order-btn {
	
	position: relative;
	text-decoration: none;
	font-weight: bold;

}