input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: #600000;
	}
}

select {
	border: 2px solid #600000;
	border-radius: 4px;
	padding: 0.2rem;
	color: #600000;
	&:focus, &:active, &:focus-visible {
		color: #600000;
	}
}

textarea {
	width: 100%;
}
